/* line 5, ../../app/assets/stylesheets/api.css.sass */
.nav {
  padding: 0px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  background: white;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  width: 230px;
}
/* line 13, ../../app/assets/stylesheets/api.css.sass */
.nav h2 {
  font-weight: 600;
  font-size: 18px;
  color: #030000;
  padding: 0 30px;
  margin-top: 20px;
}
/* line 19, ../../app/assets/stylesheets/api.css.sass */
.nav h2:first-of-type {
  margin-top: 0;
}
/* line 21, ../../app/assets/stylesheets/api.css.sass */
.nav ul {
  padding: 0;
  margin: 0;
}
/* line 24, ../../app/assets/stylesheets/api.css.sass */
.nav li {
  list-style-type: none;
}
/* line 26, ../../app/assets/stylesheets/api.css.sass */
.nav li a {
  font-weight: 300;
  color: #524b48;
  font-size: 17px;
  padding: 4px 30px;
  display: block;
}
/* line 32, ../../app/assets/stylesheets/api.css.sass */
.nav li a:hover {
  text-decoration: none;
  background: #f4f4f4;
}

/* line 36, ../../app/assets/stylesheets/api.css.sass */
.nav.main {
  background: #1f465f;
  left: -230px;
  color: white;
}

/* line 42, ../../app/assets/stylesheets/api.css.sass */
.button-expand, .button-collapse {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

/* line 48, ../../app/assets/stylesheets/api.css.sass */
.button-expand {
  background: #1f465f;
  background-image: url(/assets/api_docs/menu.png);
  color: white;
  width: 40px;
  height: 40px;
  border-bottom-right-radius: 3px;
  text-indent: -9999px;
}

/* line 57, ../../app/assets/stylesheets/api.css.sass */
.button-collapse, a.button-collapse:visited {
  color: white;
  display: block;
  height: 40px;
  width: 100%;
  background: #6b8596;
  font-size: 12px;
  padding: 10px;
}

/* line 66, ../../app/assets/stylesheets/api.css.sass */
body {
  font-family: "proxima nova" !important;
  background: #f9f9f9;
}

/* line 70, ../../app/assets/stylesheets/api.css.sass */
.main-content {
  position: relative;
  left: 230px;
  padding: 30px;
  margin-left: 0;
}
/* line 75, ../../app/assets/stylesheets/api.css.sass */
.main-content ul, .main-content ol {
  font-size: 15px;
  color: #555555;
}
/* line 78, ../../app/assets/stylesheets/api.css.sass */
.main-content p {
  font-size: 15px;
}
/* line 80, ../../app/assets/stylesheets/api.css.sass */
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  font-weight: 300;
  color: black;
}
/* line 83, ../../app/assets/stylesheets/api.css.sass */
.main-content h1 {
  font-size: 30px;
  margin-bottom: 10px;
}
/* line 86, ../../app/assets/stylesheets/api.css.sass */
.main-content h2 {
  font-size: 24px;
}
/* line 88, ../../app/assets/stylesheets/api.css.sass */
.main-content h3 {
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 40px;
}

/* line 93, ../../app/assets/stylesheets/api.css.sass */
.breadcrumbs {
  color: #bd1550;
  font-size: 14px;
  margin-bottom: 35px;
}
/* line 97, ../../app/assets/stylesheets/api.css.sass */
.breadcrumbs a, .breadcrumbs a:visited, .breadcrumbs a:hover {
  text-decoration: underline;
  color: #bd1550;
}
/* line 100, ../../app/assets/stylesheets/api.css.sass */
.breadcrumbs a:hover {
  opacity: 0.5;
}

/* line 103, ../../app/assets/stylesheets/api.css.sass */
.request {
  background: #e97f02;
  padding: 10px;
  border-radius: 2px;
}
/* line 107, ../../app/assets/stylesheets/api.css.sass */
.request h3 {
  font-size: 16px;
  color: white;
  font-weight: 500;
  margin: 0 0 5px 0;
}

/* line 114, ../../app/assets/stylesheets/api.css.sass */
.sample .api-input {
  width: 88%;
}
/* line 116, ../../app/assets/stylesheets/api.css.sass */
.sample button {
  width: 10%;
  height: 29px;
  position: relative;
  top: -1px;
  left: -5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background: white;
  border: 1px solid #cccccc;
}

/* line 128, ../../app/assets/stylesheets/api.css.sass */
.main-content table th {
  border-right: 1px solid #cccccc;
  background: #dde8c6;
  color: #607631;
  font-weight: bold;
  padding: 8px;
}
/* line 135, ../../app/assets/stylesheets/api.css.sass */
.main-content table {
  background: white;
  border: 1px solid #cccccc;
  font-size: 13px;
}
/* line 140, ../../app/assets/stylesheets/api.css.sass */
.main-content table td:last-child, .main-content #api table th:last-child {
  border-right: none;
}
/* line 143, ../../app/assets/stylesheets/api.css.sass */
.main-content table td:first-child {
  font-weight: bold;
  color: #575757;
}
/* line 147, ../../app/assets/stylesheets/api.css.sass */
.main-content table tr:nth-child(2n+1) {
  background-color: #f4f4f4;
}
/* line 150, ../../app/assets/stylesheets/api.css.sass */
.main-content table td {
  border-right: 1px solid #cccccc;
  padding: 8px;
}

/* line 154, ../../app/assets/stylesheets/api.css.sass */
.resource-list a {
  padding: 20px;
  display: block;
}
/* line 157, ../../app/assets/stylesheets/api.css.sass */
.resource-list a h3 {
  margin-top: 0;
}
/* line 159, ../../app/assets/stylesheets/api.css.sass */
.resource-list a p {
  margin-bottom: 0;
}
/* line 161, ../../app/assets/stylesheets/api.css.sass */
.resource-list a:hover {
  background: white;
  text-decoration: none;
}

/* for formatting code to display on a page (on the backend: API , on frontend: Templates) */
/* line 166, ../../app/assets/stylesheets/api.css.sass */
.prettyprint {
  max-height: 500px;
  background: #333333;
  padding: 15px;
  color: white;
  overflow: auto;
  font-size: 13px;
  line-height: 1.6;
  margin: 6px 0 25px 0;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

/* line 178, ../../app/assets/stylesheets/api.css.sass */
.prettyprint.html .code {
  font-family: Monaco, Courier, MonoSpace;
  color: black;
  font-size: 9px;
}

/* line 182, ../../app/assets/stylesheets/api.css.sass */
.prettyprint.html .str {
  color: #ffe537;
}

/* line 184, ../../app/assets/stylesheets/api.css.sass */
.prettyprint.html .kwd {
  color: white;
}

/* line 186, ../../app/assets/stylesheets/api.css.sass */
.prettyprint.html .com {
  color: white;
}

/* line 188, ../../app/assets/stylesheets/api.css.sass */
.prettyprint.html .typ {
  color: #ff6000;
}

/* line 190, ../../app/assets/stylesheets/api.css.sass */
.prettyprint.html .lit {
  color: white;
}

/* line 192, ../../app/assets/stylesheets/api.css.sass */
.prettyprint.html .pun {
  color: white;
}

/* line 194, ../../app/assets/stylesheets/api.css.sass */
.prettyprint.html .pln {
  color: #f6f4e5;
}

/* line 196, ../../app/assets/stylesheets/api.css.sass */
.prettyprint.html .tag {
  color: #ffab58;
}

/* line 198, ../../app/assets/stylesheets/api.css.sass */
.prettyprint.html .atn {
  color: #fabb4e;
}

/* line 200, ../../app/assets/stylesheets/api.css.sass */
.prettyprint.html .atv {
  color: #ffe6b9;
}

/* line 202, ../../app/assets/stylesheets/api.css.sass */
.prettyprint.html .dec {
  color: #f157ff;
}

/* line 205, ../../app/assets/stylesheets/api.css.sass */
.prettyprint .code {
  font-family: Monaco, Courier, MonoSpace;
  color: black;
  font-size: 9px;
}

/* line 209, ../../app/assets/stylesheets/api.css.sass */
.prettyprint .str {
  color: #ffe537;
}

/* line 211, ../../app/assets/stylesheets/api.css.sass */
.prettyprint .kwd {
  color: white;
}

/* line 213, ../../app/assets/stylesheets/api.css.sass */
.prettyprint .com {
  color: white;
}

/* line 215, ../../app/assets/stylesheets/api.css.sass */
.prettyprint .typ {
  color: #ff6000;
}

/* line 217, ../../app/assets/stylesheets/api.css.sass */
.prettyprint .lit {
  color: white;
}

/* line 219, ../../app/assets/stylesheets/api.css.sass */
.prettyprint .pun {
  color: white;
}

/* line 221, ../../app/assets/stylesheets/api.css.sass */
.prettyprint .pln {
  color: #ffab58;
}

/* line 223, ../../app/assets/stylesheets/api.css.sass */
.prettyprint .tag {
  color: #ffab58;
}

/* line 225, ../../app/assets/stylesheets/api.css.sass */
.prettyprint .atn {
  color: #fabb4e;
}

/* line 227, ../../app/assets/stylesheets/api.css.sass */
.prettyprint .atv {
  color: #ffe6b9;
}

/* line 229, ../../app/assets/stylesheets/api.css.sass */
.prettyprint .dec {
  color: #f157ff;
}

/* line 232, ../../app/assets/stylesheets/api.css.sass */
pre.prettyprint {
  padding: 10px;
  border: 1px solid #dedede;
  background: #575757;
  font-family: Courier, MonoSpace;
  font-size: 13px;
}

/* line 239, ../../app/assets/stylesheets/api.css.sass */
code.prettyprint.small_code {
  padding: 3px 5px;
  background: #575757;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  line-height: 20px;
  margin-top: 5px;
}

/* Specify class=linenums on a pre to get line numbering */
/* line 249, ../../app/assets/stylesheets/api.css.sass */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  /* IE indents via margin-left */
}

/* line 253, ../../app/assets/stylesheets/api.css.sass */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style-type: none;
}

/* Alternate shading for lines */
/* line 263, ../../app/assets/stylesheets/api.css.sass */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  background: #eeeeee;
}

@media print {
  /* line 271, ../../app/assets/stylesheets/api.css.sass */
  .str {
    color: #006600;
  }

  /* line 273, ../../app/assets/stylesheets/api.css.sass */
  .kwd {
    color: #000066;
    font-weight: bold;
  }

  /* line 276, ../../app/assets/stylesheets/api.css.sass */
  .com {
    color: #660000;
    font-style: italic;
  }

  /* line 279, ../../app/assets/stylesheets/api.css.sass */
  .typ {
    color: #440044;
    font-weight: bold;
  }

  /* line 282, ../../app/assets/stylesheets/api.css.sass */
  .lit {
    color: #004444;
  }

  /* line 284, ../../app/assets/stylesheets/api.css.sass */
  .pun {
    color: #444400;
  }

  /* line 286, ../../app/assets/stylesheets/api.css.sass */
  .pln {
    color: black;
  }

  /* line 288, ../../app/assets/stylesheets/api.css.sass */
  .tag {
    color: #000066;
    font-weight: bold;
  }

  /* line 291, ../../app/assets/stylesheets/api.css.sass */
  .atn {
    color: #440044;
  }

  /* line 293, ../../app/assets/stylesheets/api.css.sass */
  .atv {
    color: #006600;
  }
}
