@import url('/bower_components/normalize.css/normalize.css');

$gold: #ffbf00;
$red: #ea5b3a;
$blue: #4cbad7;
$teal: #409b88;
$grey: #5d5c5d;
$global-radius: 5px;
$global-margin-bottom: 25px;

$row-padding: 70px;
$love-comm-padding: 40px;

a, a:visited{
  color: #08c;
}

* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p,blockquote{
  margin-top: 0;
}

h5{

}
body{
  background: white;
  font-family: 'Proxima Nova', 'Helvetica Neue', verdana, arial, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

.topper{
  background-image: url('/assets/images/layout/topper-bg.png');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  min-height: 600px;
  position: relative;
  text-align: center;
  button{
    background: white;
    border: 0;
    box-shadow: 0px 3px 0px rgba(0,0,0,0.2);
    border-radius: $global-radius;
    color: #cd860d;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: $global-margin-bottom;
    padding: 15px 25px;
  }
  h1, p{
    color: white;
  }
  h1{
    font-size: 60px;
    text-shadow: 0px 3px 0px rgba(0,0,0,0.2);
  }
  p{
    font-size: 26px;
    margin: 0 auto;
    max-width: 1000px;
    text-align: left;
  }
}

.topper-footer{
  bottom: -5px;
  position: absolute;
  width: 100%;
  img{ width: 100%; }
}

.row{
  margin: 0 auto;
  max-width: 1200px;
}

h1{

}

h2{
  color: #5d5c5d;
  font-size: 48px;
  font-weight: 100;
}

h3{
  font-size: 30px;
  font-weight: bold;
}

h4{
  font-size: 20px;
  font-weight: bold;
}

h1,h2,h3,h4,h5,h6{
  &.with-subtitle{
    margin-bottom: 20px;
  }
}

.label{
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: .6em;
  left: 5px;
  padding: 4px 8px;
  position: relative;
  top: -3px;
  &.l-js{ background: $blue; }
  &.l-ruby{ background: $red; }
}

.open-source-projects{
  padding: 70px 0;
  .list-projects{
    border-left: 5px solid #dedede;
    padding: 30px 150px 30px 30px;
    h4{
      margin-bottom: 10px;
    }
    p{
      margin-bottom: 20px;
    }
  }
  .open-source-description{
    padding-right: 80px;
  }
}

.our-roles{
  background: #f2f2f2;
  padding: $row-padding 0;
}

.row {
  .column{
    display: inline-block;
    margin-right: 1%;
    vertical-align: top;
    &:last-child{
      margin-right: 0;
    }
  }
  .column.half{
    width: 49%;
  }
  .column.third{
    width: 32%;
  }
  .column.two-third{
    width: 67%;
  }
}

p{
  font-size: 20px;
  line-height: 1.4em;
}

p.smaller{
  font-size: 16px;
}

.team-box{
  background: white;
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 20px;
  min-height: 200px;
  padding: 20px;
  max-width: 20%;
  vertical-align: top;
  &.special-info{
    background: none;
    max-width: 60%;
  }
}

// The overly complicated way to do things
// The teams and their colors in a list. That list then rendered into the css
// structure we want.
$teams: frontend $red, backend $teal, design $blue, mobile $grey, ops $gold;
@each $team in $teams {
  .team-#{nth($team, 1)}{
    border-top: 20px solid nth($team, 2);
    h4{
      color: nth($team, 2);
    }
  }
}

.box-slant{
  border: 0;
  bottom: 0;
  margin: 0;
  position: absolute;
}

$box-icon-padding: 15px;
$box-icon-size: 40px;
.box-icon{
  position: absolute;
  left: $box-icon-padding;
  top: $box-icon-padding;
  width: $box-icon-size;
}

.top-row{
  font-weight: bold;
  overflow: hidden;
  padding-bottom: 140px;
  padding-top: 50px;
  text-align: left;
  width: 100%;
  .logo, navigation{
    display: inline-block;
  }
  .logo{
    font-size: 24px;
  }
  navigation{
    float: right;
  }
  navigation ul{
    list-style-type: none;
    margin: 0;
    li{
      display: inline-block;
    }
  }
  a{
    color: white;
    font-size: 18px;
    padding: 4px 8px;
    text-decoration: none;
    &.current, &:hover{
      border-bottom: 2px solid white;
    }
  }
}

.text-left{ text-align: left; }
.text-center{ text-align: center; }
.text-right{ text-align: right; }


.love-community{
  background: $red;
  color: white;
  padding: $row-padding 0;
  h2{
    color: white;
  }
  h3.with-subtitle{
    margin-bottom: 10px;
  }
  .subheader{
    color: #aaa;
    font-size: 16px;
    font-weight: bold;
  }
  .love-community-block{
    margin-top: 30px;
  }
  .love-community-top{
    background: rgba(255,255,255,0.2);
    height: $box-icon-padding + $box-icon-padding + $box-icon-size;
    position: relative;
  }
  .love-community-bottom{
    background: white;
    color: #333;
    min-height: 360px;
    padding: $love-comm-padding;
    position: relative;
    p{
      font-size: 17px;
    }
  }
  .more-info{
    position: absolute;
    bottom: $love-comm-padding;
    right: $love-comm-padding;
  }
}

.team-pics{
  height: 320px;
  padding: 40px;
  img{
    max-width: 46%;
  }
}

a.more-info{
  color: #333;
  font-weight: bold;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

.open-positions{
  padding: $row-padding 0;
}

.open-positions-list{
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  max-width: 1100px;
  li{
    display: inline-block;
    max-width: 44%;
    padding-left: 100px;
    margin-bottom: 20px;
    margin-right: 10%;
    position: relative;
    &:nth-child(2){
      margin-right: 0;
    }
    &:nth-child(3){
      margin: 0 auto;
    }
  }
  h3{
    margin-bottom: 10px;
  }
  .icon-{
    background: $red;
    border-radius: 3px;
    height: 80px;
    left: 0;
    position: absolute;
    width: 80px;
  }
}



$box-padding: 80px;
.what-am-in-for{
  position: relative;
  .what-bar{
    border-bottom: 1px solid #dedede;
    border-top: 1px solid #dedede;
    height: 10px;
    position: relative;
    top: 40px;
    z-index: -1;
  }
  .what-box{
    background: white;
    border: 1px solid #ccc;
    margin: 0 auto;
    max-width: 900px;
    padding: $box-padding;
    z-index: 1;
  }
  .what-box-title{
    background: white;
    display: inline-block;
    left: 35%;
    margin: 0;
    padding: 10px 0;
    position: absolute;
    top: -10px;
    text-align: center;
    width: 30%;
  }
}

.our-team{
  .left-col,
  .right-col{
    display: inline-block;
    vertical-align: top;
  }
  .left-col{
    width: 39%;
  }
  .right-col{
    width: 60%;
  }
}
