<!DOCTYPE html>
  {% include blog_header.html %}
  {% include blog_navigation.html %}
  <body>
    {{ page.content }}
      <ul class="open-source">
        {% for project in site.data.open_source %}
          <li>
            <a href="{{ project.github_url }}">
              <img src="{{ project.image }}">
              <h4>{{ project.name }} </h4>
              <p class="note">
                {{ project.description }}
              </p>
            </a>
          </li>
        {% endfor %}
      </ul>
  </body>
</html>
